@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Raleway:ital,wght@0,300;1,500&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Open Sans Regular;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

h3,
h4 {
    margin: 0;
}

.my-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 25px;
}

.border {
    border: solid 2px #ccd0d1;
}

.contacts-container {

    flex-direction: column;
    justify-content: space-around;
}

.contact-container {
    height: 100%;
    width: 500px;
    padding: 5px;
    flex-direction: row;
    justify-content: space-between
}

.contact-container:first-child h4 {
    color: #828485;
}

.content-container {
    width: 100%;
    background-color: #E8EBE4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content-container h2 {
    margin: 20px;
}

.content-container p {
    text-align: center;
}

.content-container b {
    font-size: larger;
}

.texts-container {
    margin-left: 15px;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.left {
    align-items: center;
}

.right {
    padding: 20px;
    align-items: center;
}

.right p {
    padding: 20px;
}

.action-button-container {

    width: 500px;
    justify-content: center;
    align-items: center;
}

.action-button {
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    color: white;
    background-color: #A491D2;
}